{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="col-sm-8 text-left" id="header">
        <ul class="nav navbar-nav">
            <h1>All Polls</h1>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <p><a href="{% url 'logout' %}">logout</a>
            <a href="/admin"><span class="glyphicon glyphicon-log-in btn-lg"></span> Admin-login</a></p>
        </ul>
    </div>

    <div class="col-sm-8 text-left" id="recent_questions">
    {% if question_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Question:</th>
                    <th>Published:</th>
                    <th>Answer:</th>
                    <th>Results:</th>
                </tr>
            </thead>
            <tbody>
            {% for question in question_list %}
                <tr>
                    <td>{{ question.question_text }}</td>
                    <td>{{ question.pub_date }}</td>
                    <form action="{% url 'polls:detail' question.id %}">
                        <td><input type="submit" value="Answer" class="btn btn-warning btn-sm"></td>
                    </form>
                    <form action="{% url 'polls:results' question.id %}">
                        <td><input type="submit" value="Results" class="btn btn-warning btn-sm"></td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    </div>


</body>
</html>